Input directory: /ssd2/kishen/Pointsets/small_datasets/knn/
Output directory: /home/kishen/basic/ParClusterers/out/
CSV output directory: /home/kishen/basic/ParClusterers/out_csv
Clusterers: ParHacClusterer
Graphs: iris_graph.wadj
GBBS format: true
Wighted: true
Hierarchical: true
Number of threads: ALL
Number of rounds: 1
Timeout: 7h
Postprocess only: false

ParHacClusterer:
  parhac_clusterer_config:
    weight_threshold: 0.01
    epsilon: 0.1